lib/SOAP11/sympasoap11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://listen.goethe.de/schemas/sympa"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:sym="http://listen.goethe.de/schemas/sympa"
	        elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>
			This schema describes the Sympa SOAP11 webservice developed at Goethe-Institut e.V.
		</xsd:documentation>
	</xsd:annotation>


	<!-- Simple Types ========================================================= -->

	<xsd:simpleType name="EmailType">
		<xsd:annotation>
			<xsd:documentation>
				Email Address type with simple constraint.
				The backend system may perform stricter syntax checks.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".+@.+"/>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="IsoLanguageType">
		<xsd:annotation>
			<xsd:documentation>
				Language in ISO 2-4 character format (ISO-639-1 plus optional variant ISO 3166-1-Alpha-2 code elements), i.e. "de" or "pt-BR"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-z]{2}(-[A-Z][A-Z])?" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="NotEmptyStringType">
		<xsd:annotation>
			<xsd:documentation>
				String constraint allowing empty strings.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="SubscriberReceptionType">
		<xsd:annotation>
			<xsd:documentation>
				Empfangsmodus (reception)
				Reception mode of a list
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="digest">
				<xsd:annotation>
					<xsd:documentation>
						Auswahl im MIME-Format (digest)
						Instead of receiving email from the list in a normal manner, the subscriber will periodically receive it in a digest.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="digestplain">
				<xsd:annotation>
					<xsd:documentation>
						Auswahl im Reintext-Format (digestplain)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="nomail">
				<xsd:annotation>
					<xsd:documentation>
						no mail (nomail)
						This mode is used when a subscriber no longer wants to receive email from the list, but nevertheless wishes to retain the possibility of posting to the list. This mode therefore prevents the subscriber from unsubscribing and subscribing later on.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="mail">
				<xsd:annotation>
					<xsd:documentation>
						standard (direkter Empfang) (mail)
						Puts the subscriber in normal mode (default) for the listname list. This option is mainly used to cancel the nomail, summary or digest modes. If the subscriber was in nomail mode, he or she will receive email from the list in a normal manner again.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="summary">
				<xsd:annotation>
					<xsd:documentation>
						Zusammenfassungs-Modus (summary)
						Instead of receiving email from the list in a normal manner, the subscriber will periodically receive the list of messages. This mode is very close to the DIGEST reception mode, but the subscriber only receives the list of messages.
						This option is available only if the digest mode is set.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="notice">
				<xsd:annotation>
					<xsd:documentation>
						Benachrichtigungsmodus (notice)
						Receiving message subject only
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="txt">
				<xsd:annotation>
					<xsd:documentation>
						Nur-Text-Modus (txt)
						This mode is used when a subscriber wishes to receive emails sent in both format, txt/html and txt/plain only, in txt/plain format.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="html">
				<xsd:annotation>
					<xsd:documentation>
						Nur-HTML-Modus (html)
						This mode is used when a subscriber wishes to receive emails sent in both format, txt/html and txt/plain only, in txt/html format.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="urlize">
				<xsd:annotation>
					<xsd:documentation>
						URL-Modus (urlize)
						This mode is used when a subscriber wishes not to receive attached files. The attached files are replaced by a URL leading to the file stored on the list site.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="not_me">
				<xsd:annotation>
					<xsd:documentation>
						Sie empfangen Ihre eigenen Nachrichten nicht (not_me)
						This mode is used when a subscriber wishes not to receive back the message that he/she has sent to the list.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="ListnameType">
		<xsd:annotation>
			<xsd:documentation>
				Listname constraint, see Sympa tools.pm line 60, %regexp for listname
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-z0-9][a-z0-9\-\.\+_]{0,49}" />
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="UserVisibilityType">
		<xsd:annotation>
			<xsd:documentation>
				Special mode which allows the subscriber to remain invisible when a REVIEW command is issued for the list.
				If this parameter is not declared, the subscriber will be visible for REVIEW.
				Note: this option does not affect the results of a REVIEW command issued by an owner.
				Default value: conceal
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="conceal">
				<xsd:annotation>
					<xsd:documentation>
						verborgen (conceal)
						Puts the subscriber in conceal mode for the list. The subscriber will then become invisible during REVIEW on this list.
						Only owners will see the whole subscriber list.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="noconceal">
				<xsd:annotation>
					<xsd:documentation>
						Übersicht auf der Seite für Listen-Berichte (noconceal)
						Puts the subscriber in noconceal mode (default) for the list. The subscriber will then become visible during REVIEW of this list.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="AdminVisibilityType">
		<xsd:annotation>
			<xsd:documentation>
				Visibility in list menu (GUI)
				default: noconceal
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="noconceal">
				<xsd:annotation>
					<xsd:documentation>
						listed on the list menu
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="conceal">
				<xsd:annotation>
					<xsd:documentation>
						concealed from list menu
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="AdminReceptionType">
		<xsd:annotation>
			<xsd:documentation>
				Reception mode for list notifications
				default: mail
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mail">
				<xsd:annotation>
					<xsd:documentation>
						receive notification email
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="nomail">
				<xsd:annotation>
					<xsd:documentation>
						no notifications
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="ProfileType">
		<xsd:annotation>
			<xsd:documentation>
				Profile of the owner role
				See https://www.sympa.org/manual/organization
				default: normal
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="normal">
				<xsd:annotation>
					<xsd:documentation>
						(Basic) list owners
						They are responsible for managing the members of the list, editing the list configuration and templates.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="privileged">
				<xsd:annotation>
					<xsd:documentation>
						Privileged list owners
						The first defined privileged owner is the person who requested the list creation.
						They inherit (basic) owner privileges and are also responsible for managing the list owners and editors themselves (through the web interface).
						Privileged owners have extended privileges, including the right to edit some list configuration parameters.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="RoleType">
		<xsd:annotation>
			<xsd:documentation>
				Role a admin can have in a list
				See https://www.sympa.org/manual/organization
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="owner">
				<xsd:annotation>
					<xsd:documentation>
						They are responsible for managing the members of the list, editing the list configuration and templates.
						See OwnerType for different kinds (profiles) of owners.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="editor">
				<xsd:annotation>
					<xsd:documentation>
						Moderators (also called Editors)
						Moderators are responsible for the messages distributed in the mailing list (as opposed to owners who look after list members). Moderators are active if the list has been setup as a moderated mailing list.
						If no moderator is defined for the list, then list owners will inherit the moderator role.
					</xsd:documentation>
				</xsd:annotation>
            </xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="ExtendedRoleType">
		<xsd:annotation>
			<xsd:documentation>
				Role a admin can have in a list
				See https://www.sympa.org/manual/organization
                enriched with effective rights
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="owner">
				<xsd:annotation>
					<xsd:documentation>
						They are responsible for managing the members of the list, editing the list configuration and templates.
						See OwnerType for different kinds (profiles) of owners.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="editor">
				<xsd:annotation>
					<xsd:documentation>
						Moderators (also called Editors)
						Moderators are responsible for the messages distributed in the mailing list (as opposed to owners who look after list members). Moderators are active if the list has been setup as a moderated mailing list.
						If no moderator is defined for the list, then list owners will inherit the moderator role.
					</xsd:documentation>
				</xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="actual_editor">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="privileged_owner">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="receptive_editor">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="receptive_owner">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>



	<xsd:simpleType name="ListVisibilityType">
		<xsd:annotation>
			<xsd:documentation>
				Sichtbarkeit der Liste
				This parameter indicates whether the list should feature in the output generated in response to a LISTS command.
				default: conceal
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="conceal">
				<xsd:annotation>
					<xsd:documentation>
						nur für Abonnenten sichtbar
						conceal except for subscribers
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="noconceal">
				<xsd:annotation>
					<xsd:documentation>
						sichtbar
						no conceal
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="intranet">
				<xsd:annotation>
					<xsd:documentation>
						Intranet-Zugang
						intranet access
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="secret">
				<xsd:annotation>
					<xsd:documentation>
						unsichtbar - sogar für Abonnenten
						conceal even for subscribers
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="ListStatusType">
		<xsd:annotation>
			<xsd:documentation>
				Status der Liste (status)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="closed">
				<xsd:annotation>
					<xsd:documentation>closed list</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="error_config">
				<xsd:annotation>
					<xsd:documentation>erroneous configuration</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="family_closed">
				<xsd:annotation>
					<xsd:documentation>closed family instance</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="open">
				<xsd:annotation>
					<xsd:documentation>in operation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="pending">
				<xsd:annotation>
					<xsd:documentation>list not yet activated</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>	





	<!-- Complex Types ======================================================== -->

	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:documentation>Basic information about a person (a subscriber or admin)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Email address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gecos" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Information like last name, first name etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="SubscriberType">
		<xsd:annotation>
			<xsd:documentation>This type fits the Sympa Subscriber Object</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="sym:PersonType">	
				<xsd:sequence>
					<xsd:element name="subscribed" type="xsd:boolean" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>is user subscribed</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="date" type="xsd:string" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="update_date" type="xsd:string" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="reception" type="sym:SubscriberReceptionType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Special delivery modes which the subscriber may select.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="visibility" type="sym:UserVisibilityType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Special mode which allows the subscriber to remain invisible when a REVIEW command is issued for the list.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="number_messages" type="xsd:integer" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!-- now optional elements -->
					<xsd:element name="topics" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom_attribute" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>6.2.72 renamed to attrib</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="inclusion" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>subscriber included?</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="inclusion_label" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>subscriber included?</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="inclusion_ext" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>subscriber included?</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="startdate" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="enddate" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="suspend" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="bounce" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>bounces this email address has</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="bounce_score" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="bounce_address" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--
						next elements are only part of the subscriber object
						if inserted with $list->parse_list_member_bounce($subscriber); call
					-->
					<xsd:element name="first_bounce" type="xsd:integer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="last_bounce" type="xsd:integer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="bounce_count" type="xsd:integer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="bounce_class" type="xsd:integer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="bounce_level" type="xsd:integer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="BaseAdminType">
		<xsd:complexContent>
			<xsd:extension base="sym:PersonType">	
				<xsd:sequence>
					<xsd:element name="info" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Private information</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="visibility" type="sym:AdminVisibilityType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Visibility in list menu (GUI)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="reception" type="sym:AdminReceptionType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Reception mode for list notifications</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="profile" type="sym:ProfileType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Profile of the owner role</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="ResponseAdminType">
		<xsd:complexContent>
			<xsd:extension base="sym:BaseAdminType">	
				<xsd:sequence>
					<xsd:element name="date" type="xsd:integer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="update_date" type="xsd:integer" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation></xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="role" type="sym:RoleType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>admin role</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="subscribed" type="xsd:boolean" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								is admin subscribed
								Note: getSubscriptions/getSubscriber return real subscribers
								an admin may be "effective" subscribed
							</xsd:documentation>
							</xsd:annotation>
					</xsd:element>
					<xsd:element name="included" type="xsd:boolean" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>is admin included from other source</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
 

	<xsd:complexType name="MailinglistType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of the list</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="domain" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Domain name of the list, default is the robot domain name set in the related robot.conf file or in file /etc/sympa.conf.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="listAddress" type="sym:EmailType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>email address of the list</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subject" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This parameter indicates the subject of the list, which is sent in response to the LISTS mail command. The subject is a free form text limited to one line.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Detailed text description of the list, to be displayed by the INFO command. It can also be referenced from template files for service messages.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="visibility" type="sym:ListVisibilityType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This parameter indicates whether the list should feature in the output generated in response to a LISTS command.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status" type="sym:ListStatusType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Status of the list</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lang" type="sym:IsoLanguageType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This parameter defines the language used for the list. It is used to initialize a user's language preference; Sympa command reports are extracted from the associated message catalog.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="homepage" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>URL of the list (Sympa Web GUI)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="topic" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This parameter allows the classification of lists. You may define multiple topics as well as hierarchical ones. WWSympa's list of public lists uses this parameter.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subscriberCount" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Total subscribers of the list</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="msgCount" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Number of messages sent (to the list)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="msgCountXRecipients" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Number of messages times number of recipients</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="latestDistributionDate" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Last date of distribution message</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<!-- Requests/Responses =================================================== -->

	<xsd:element name="getVersionRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests versions of the Sympa service components.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getVersionResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns versions of the Sympa service components.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="sympa" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Version of the Sympa software</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="soap" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Version of the SOAP11 service</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

 

	<xsd:element name="getRobotsRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests all robots (Domains) of this Sympa instance.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getRobotsResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns all robots (Domains) from this Sympa instance.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="robot" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="getListTemplatesRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests all list templates from the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getListTemplatesResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns all list templates from the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="templates" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
							<xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1" />
							<xsd:element name="comment" type="xsd:string" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="getListsRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests all list names from the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Return list details for this %list% pattern. Or for all lists if not specified.
					</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="topic" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Return only lists with this topic.
							Use 'topicsless' to select lists without topic.
					</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!--
				<xsd:element name="subtopic" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Return only lists with this subtopic.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				-->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getListsResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns all list names from the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="getListRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests list details from the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Return list details for this list. Or for all lists if list is not specified.
					</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getListResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns list details from the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="sym:MailinglistType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="createListRequest">
		<xsd:annotation>
			<xsd:documentation>
				Creates a new list in the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="sym:ListnameType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The name of the list</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="subject" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The subject of the list</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="template" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The template to use creating the new list</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>A short description for the list</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="topic" type="xsd:string" default="" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>A topic for the list</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="lang" type="sym:IsoLanguageType" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The language of the list</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="createListResponse">
		<xsd:annotation>
			<xsd:documentation>Returns status of list creation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="getSubscribersRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests (all) subscribers of a lists.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>List to query</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getSubscribersResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns (all) subscribers and parameters of each subscriber of a lists.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="subscribers" type="sym:SubscriberType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="subscribeSubscribersRequest">
		<xsd:annotation>
			<xsd:documentation>
				Subscribe subscriber(s) to a list. They get notified and need to double-opt-in.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>List to subscribe to</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="subscriber" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>User (= email address) to add</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="gecos" type="xsd:string" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>Short description of the user</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="subscribeSubscribersResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns status of subscription and parameters for each new user (subscriber).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="result" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="subscribed" type="xsd:integer" minOccurs="1" maxOccurs="1" />
							<xsd:element name="failed" type="xsd:integer" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="subscriber" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="1" />
							<xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="addSubscribersRequest">
		<xsd:annotation>
			<xsd:documentation>
				Add subscriber(s) to a list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>List to subscribe to</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="subscriber" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>User (= email address) to add</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="gecos" type="xsd:string" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>Short description of the user</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="quiet" type="xsd:boolean" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Silently add users.
							No welcome message is send to new users.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="addSubscribersResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns status of subscription and parameters for each new user (subscriber).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="result" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="subscribed" type="xsd:integer" minOccurs="1" maxOccurs="1" />
							<xsd:element name="failed" type="xsd:integer" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="subscriber" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="1" />
							<xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
 
 

	<xsd:element name="unsubscribeSubscribersRequest">
		<xsd:annotation>
			<xsd:documentation>
				Unsubscriber(s) from list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>List to unsubscribe users from</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="subscriber" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>User (= email address) to unsubscribe</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="unsubscribeSubscribersResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns status of removal for each subscriber.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="result" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="unsubscribed" type="xsd:integer" minOccurs="1" maxOccurs="1" />
							<xsd:element name="failed" type="xsd:integer" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="subscriber" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="1" />
							<xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="delSubscribersRequest">
		<xsd:annotation>
			<xsd:documentation>
				Removes subscriber(s) from list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>List to remove users from</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="quiet" type="xsd:boolean" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Silently unsubscribe users.
							No good bye message is send to users.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="subscriber" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>User (= email address) to unsubscribe</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="delSubscribersResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns status of removal for each subscriber.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="result" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="unsubscribed" type="xsd:integer" minOccurs="1" maxOccurs="1" />
							<xsd:element name="failed" type="xsd:integer" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="subscriber" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="1" />
							<xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="getSubscriptionsRequest">
		<xsd:annotation>
			<xsd:documentation>
				Get lists where user is subscribed to or admin.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>User (= email address) to search</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getSubscriptionsResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns lists where user is subscribed to and status of user in each list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
							<xsd:element name="address" type="xsd:string" minOccurs="1" maxOccurs="1" />
							<xsd:element name="subject" type="xsd:string" minOccurs="1" maxOccurs="1" />
							<xsd:element name="owner" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
							<xsd:element name="editor" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
							<xsd:element name="subscribed" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
							<xsd:element name="subscriber" type="sym:SubscriberType" minOccurs="0" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
 


	<xsd:element name="getAdminsRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests admins of a list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>List to query</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="role" type="sym:ExtendedRoleType" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Admin type</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getAdminsResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns all admins (with specified role) and parameters of each admin of a list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="admin" type="sym:ResponseAdminType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="addAdminsRequest">
		<xsd:annotation>
			<xsd:documentation>
				Add owner(s) to list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>List to add admins to</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="role" type="sym:RoleType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Role the new admins should have</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- FISME: besser einfach email? -->
				<xsd:element name="admin" type="sym:BaseAdminType" minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Admins to add</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="addAdminsResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns status of addition and parameters for each new owner.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="result" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="added" type="xsd:integer" minOccurs="1" maxOccurs="1" />
							<xsd:element name="failed" type="xsd:integer" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="admin" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1" />
							<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="1" />
							<xsd:element name="admin" type="sym:ResponseAdminType" minOccurs="0" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="delAdminsRequest">
		<xsd:annotation>
			<xsd:documentation>
				Remove owner from list.
				Note: one owner is mandatory
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>List to remove owner from</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="role" type="sym:RoleType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Role the new admins should have</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>User (= email address) to delete as owner</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="delAdminsResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns status of removal.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="result" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="deleted" type="xsd:integer" minOccurs="1" maxOccurs="1" />
							<xsd:element name="failed" type="xsd:integer" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="admin" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1" />
							<xsd:element name="email" type="sym:EmailType" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="changeEmailRequest">
		<xsd:annotation>
			<xsd:documentation>
				Change email (= user) in all lists.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="old" type="sym:EmailType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>email to change</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="new" type="sym:EmailType" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>New email address</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="changeEmailResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns all lists where the email was changed and status of user in each list.
 			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="result" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="closeListRequest">
		<xsd:annotation>
			<xsd:documentation>
				Close (disable) a list. Removing it from configuration, dumping then removing members etc.
				List directory is kept thus list could be restored later.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Name of the list to close.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="closeListResponse">
		<xsd:annotation>
			<xsd:documentation>Returns status of list closing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="deleteListRequest">
		<xsd:annotation>
			<xsd:documentation>
				Delete (Sympa: purge) a list. Completely removing list from disk.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="listname" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Name of the list to delete.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="deleteListResponse">
		<xsd:annotation>
			<xsd:documentation>Returns status of list deleting.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
