lib/SOAP11/sympasoap11.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://listen.goethe.de/schemas/sympa" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://listen.goethe.de/schemas/sympa" targetNamespace="http://listen.goethe.de/schemas/sympa">
  <wsdl:types>
    <xsd:schema xmlns:sym="http://listen.goethe.de/schemas/sympa" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://listen.goethe.de/schemas/sympa">
	<xsd:annotation>
		<xsd:documentation>
			This schema describes the Sympa SOAP11 webservice developed at Goethe-Institut e.V.
		</xsd:documentation>
	</xsd:annotation>


	<!-- Simple Types ========================================================= -->

	<xsd:simpleType name="EmailType">
		<xsd:annotation>
			<xsd:documentation>
				Email Address type with simple constraint.
				The backend system may perform stricter syntax checks.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".+@.+"/>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="IsoLanguageType">
		<xsd:annotation>
			<xsd:documentation>
				Language in ISO 2-4 character format (ISO-639-1 plus optional variant ISO 3166-1-Alpha-2 code elements), i.e. "de" or "pt-BR"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-z]{2}(-[A-Z][A-Z])?"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="NotEmptyStringType">
		<xsd:annotation>
			<xsd:documentation>
				String constraint allowing empty strings.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="SubscriberReceptionType">
		<xsd:annotation>
			<xsd:documentation>
				Empfangsmodus (reception)
				Reception mode of a list
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="digest">
				<xsd:annotation>
					<xsd:documentation>
						Auswahl im MIME-Format (digest)
						Instead of receiving email from the list in a normal manner, the subscriber will periodically receive it in a digest.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="digestplain">
				<xsd:annotation>
					<xsd:documentation>
						Auswahl im Reintext-Format (digestplain)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="nomail">
				<xsd:annotation>
					<xsd:documentation>
						no mail (nomail)
						This mode is used when a subscriber no longer wants to receive email from the list, but nevertheless wishes to retain the possibility of posting to the list. This mode therefore prevents the subscriber from unsubscribing and subscribing later on.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="mail">
				<xsd:annotation>
					<xsd:documentation>
						standard (direkter Empfang) (mail)
						Puts the subscriber in normal mode (default) for the listname list. This option is mainly used to cancel the nomail, summary or digest modes. If the subscriber was in nomail mode, he or she will receive email from the list in a normal manner again.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="summary">
				<xsd:annotation>
					<xsd:documentation>
						Zusammenfassungs-Modus (summary)
						Instead of receiving email from the list in a normal manner, the subscriber will periodically receive the list of messages. This mode is very close to the DIGEST reception mode, but the subscriber only receives the list of messages.
						This option is available only if the digest mode is set.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="notice">
				<xsd:annotation>
					<xsd:documentation>
						Benachrichtigungsmodus (notice)
						Receiving message subject only
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="txt">
				<xsd:annotation>
					<xsd:documentation>
						Nur-Text-Modus (txt)
						This mode is used when a subscriber wishes to receive emails sent in both format, txt/html and txt/plain only, in txt/plain format.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="html">
				<xsd:annotation>
					<xsd:documentation>
						Nur-HTML-Modus (html)
						This mode is used when a subscriber wishes to receive emails sent in both format, txt/html and txt/plain only, in txt/html format.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="urlize">
				<xsd:annotation>
					<xsd:documentation>
						URL-Modus (urlize)
						This mode is used when a subscriber wishes not to receive attached files. The attached files are replaced by a URL leading to the file stored on the list site.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="not_me">
				<xsd:annotation>
					<xsd:documentation>
						Sie empfangen Ihre eigenen Nachrichten nicht (not_me)
						This mode is used when a subscriber wishes not to receive back the message that he/she has sent to the list.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="ListnameType">
		<xsd:annotation>
			<xsd:documentation>
				Listname constraint, see Sympa tools.pm line 60, %regexp for listname
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-z0-9][a-z0-9\-\.\+_]{0,49}"/>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="UserVisibilityType">
		<xsd:annotation>
			<xsd:documentation>
				Special mode which allows the subscriber to remain invisible when a REVIEW command is issued for the list.
				If this parameter is not declared, the subscriber will be visible for REVIEW.
				Note: this option does not affect the results of a REVIEW command issued by an owner.
				Default value: conceal
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="conceal">
				<xsd:annotation>
					<xsd:documentation>
						verborgen (conceal)
						Puts the subscriber in conceal mode for the list. The subscriber will then become invisible during REVIEW on this list.
						Only owners will see the whole subscriber list.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="noconceal">
				<xsd:annotation>
					<xsd:documentation>
						Übersicht auf der Seite für Listen-Berichte (noconceal)
						Puts the subscriber in noconceal mode (default) for the list. The subscriber will then become visible during REVIEW of this list.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="AdminVisibilityType">
		<xsd:annotation>
			<xsd:documentation>
				Visibility in list menu (GUI)
				default: noconceal
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="noconceal">
				<xsd:annotation>
					<xsd:documentation>
						listed on the list menu
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="conceal">
				<xsd:annotation>
					<xsd:documentation>
						concealed from list menu
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="AdminReceptionType">
		<xsd:annotation>
			<xsd:documentation>
				Reception mode for list notifications
				default: mail
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mail">
				<xsd:annotation>
					<xsd:documentation>
						receive notification email
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="nomail">
				<xsd:annotation>
					<xsd:documentation>
						no notifications
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="ProfileType">
		<xsd:annotation>
			<xsd:documentation>
				Profile of the owner role
				See https://www.sympa.org/manual/organization
				default: normal
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="normal">
				<xsd:annotation>
					<xsd:documentation>
						(Basic) list owners
						They are responsible for managing the members of the list, editing the list configuration and templates.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="privileged">
				<xsd:annotation>
					<xsd:documentation>
						Privileged list owners
						The first defined privileged owner is the person who requested the list creation.
						They inherit (basic) owner privileges and are also responsible for managing the list owners and editors themselves (through the web interface).
						Privileged owners have extended privileges, including the right to edit some list configuration parameters.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="RoleType">
		<xsd:annotation>
			<xsd:documentation>
				Role a admin can have in a list
				See https://www.sympa.org/manual/organization
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="owner">
				<xsd:annotation>
					<xsd:documentation>
						They are responsible for managing the members of the list, editing the list configuration and templates.
						See OwnerType for different kinds (profiles) of owners.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="editor">
				<xsd:annotation>
					<xsd:documentation>
						Moderators (also called Editors)
						Moderators are responsible for the messages distributed in the mailing list (as opposed to owners who look after list members). Moderators are active if the list has been setup as a moderated mailing list.
						If no moderator is defined for the list, then list owners will inherit the moderator role.
					</xsd:documentation>
				</xsd:annotation>
            </xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="ExtendedRoleType">
		<xsd:annotation>
			<xsd:documentation>
				Role a admin can have in a list
				See https://www.sympa.org/manual/organization
                enriched with effective rights
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="owner">
				<xsd:annotation>
					<xsd:documentation>
						They are responsible for managing the members of the list, editing the list configuration and templates.
						See OwnerType for different kinds (profiles) of owners.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="editor">
				<xsd:annotation>
					<xsd:documentation>
						Moderators (also called Editors)
						Moderators are responsible for the messages distributed in the mailing list (as opposed to owners who look after list members). Moderators are active if the list has been setup as a moderated mailing list.
						If no moderator is defined for the list, then list owners will inherit the moderator role.
					</xsd:documentation>
				</xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="actual_editor">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="privileged_owner">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="receptive_editor">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="receptive_owner">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>



	<xsd:simpleType name="ListVisibilityType">
		<xsd:annotation>
			<xsd:documentation>
				Sichtbarkeit der Liste
				This parameter indicates whether the list should feature in the output generated in response to a LISTS command.
				default: conceal
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="conceal">
				<xsd:annotation>
					<xsd:documentation>
						nur für Abonnenten sichtbar
						conceal except for subscribers
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="noconceal">
				<xsd:annotation>
					<xsd:documentation>
						sichtbar
						no conceal
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="intranet">
				<xsd:annotation>
					<xsd:documentation>
						Intranet-Zugang
						intranet access
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="secret">
				<xsd:annotation>
					<xsd:documentation>
						unsichtbar - sogar für Abonnenten
						conceal even for subscribers
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="ListStatusType">
		<xsd:annotation>
			<xsd:documentation>
				Status der Liste (status)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="closed">
				<xsd:annotation>
					<xsd:documentation>closed list</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="error_config">
				<xsd:annotation>
					<xsd:documentation>erroneous configuration</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="family_closed">
				<xsd:annotation>
					<xsd:documentation>closed family instance</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="open">
				<xsd:annotation>
					<xsd:documentation>in operation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="pending">
				<xsd:annotation>
					<xsd:documentation>list not yet activated</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>	





	<!-- Complex Types ======================================================== -->

	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:documentation>Basic information about a person (a subscriber or admin)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="email" type="sym:EmailType">
				<xsd:annotation>
					<xsd:documentation>Email address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="gecos" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Information like last name, first name etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="SubscriberType">
		<xsd:annotation>
			<xsd:documentation>This type fits the Sympa Subscriber Object</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="sym:PersonType">	
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="subscribed" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>is user subscribed</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="date" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="update_date" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="reception" type="sym:SubscriberReceptionType">
						<xsd:annotation>
							<xsd:documentation>Special delivery modes which the subscriber may select.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="visibility" type="sym:UserVisibilityType">
						<xsd:annotation>
							<xsd:documentation>Special mode which allows the subscriber to remain invisible when a REVIEW command is issued for the list.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="number_messages" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<!-- now optional elements -->
					<xsd:element maxOccurs="1" minOccurs="0" name="topics" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="custom_attribute" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="inclusion" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>subscriber included?</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="inclusion_label" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>subscriber included?</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="inclusion_ext" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>subscriber included?</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="startdate" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="enddate" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="suspend" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="bounce" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>bounces this email address has</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="bounce_score" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="bounce_address" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<!--
						next elements are only part of the subscriber object
						if inserted with $list->parse_list_member_bounce($subscriber); call
					-->
					<xsd:element maxOccurs="1" minOccurs="0" name="first_bounce" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="last_bounce" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="bounce_count" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="bounce_class" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="bounce_level" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="BaseAdminType">
		<xsd:complexContent>
			<xsd:extension base="sym:PersonType">	
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="info" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Private information</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="visibility" type="sym:AdminVisibilityType">
						<xsd:annotation>
							<xsd:documentation>Visibility in list menu (GUI)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="reception" type="sym:AdminReceptionType">
						<xsd:annotation>
							<xsd:documentation>Reception mode for list notifications</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="profile" type="sym:ProfileType">
						<xsd:annotation>
							<xsd:documentation>Profile of the owner role</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="ResponseAdminType">
		<xsd:complexContent>
			<xsd:extension base="sym:BaseAdminType">	
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="date" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="update_date" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="role" type="sym:RoleType">
						<xsd:annotation>
							<xsd:documentation>admin role</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="subscribed" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>
								is admin subscribed
								Note: getSubscriptions/getSubscriber return real subscribers
								an admin may be "effective" subscribed
							</xsd:documentation>
							</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="included" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>is admin included from other source</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
 

	<xsd:complexType name="MailinglistType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Name of the list</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="domain" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Domain name of the list, default is the robot domain name set in the related robot.conf file or in file /etc/sympa.conf.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="listAddress" type="sym:EmailType">
				<xsd:annotation>
					<xsd:documentation>email address of the list</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="subject" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>This parameter indicates the subject of the list, which is sent in response to the LISTS mail command. The subject is a free form text limited to one line.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Detailed text description of the list, to be displayed by the INFO command. It can also be referenced from template files for service messages.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="visibility" type="sym:ListVisibilityType">
				<xsd:annotation>
					<xsd:documentation>This parameter indicates whether the list should feature in the output generated in response to a LISTS command.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="status" type="sym:ListStatusType">
				<xsd:annotation>
					<xsd:documentation>Status of the list</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="lang" type="sym:IsoLanguageType">
				<xsd:annotation>
					<xsd:documentation>This parameter defines the language used for the list. It is used to initialize a user's language preference; Sympa command reports are extracted from the associated message catalog.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="homepage" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>URL of the list (Sympa Web GUI)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="topic" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>This parameter allows the classification of lists. You may define multiple topics as well as hierarchical ones. WWSympa's list of public lists uses this parameter.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="subscriberCount" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Total subscribers of the list</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="msgCount" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Number of messages sent (to the list)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="msgCountXRecipients" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Number of messages times number of recipients</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" name="latestDistributionDate" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Last date of distribution message</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<!-- Requests/Responses =================================================== -->

	<xsd:element name="getVersionRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests versions of the Sympa service components.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="getVersionResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns versions of the Sympa service components.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="sympa" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Version of the Sympa software</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="1" name="soap" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Version of the SOAP11 service</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

 

	<xsd:element name="getRobotsRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests all robots (Domains) of this Sympa instance.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="getRobotsResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns all robots (Domains) from this Sympa instance.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="robot" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="getListTemplatesRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests all list templates from the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="getListTemplatesResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns all list templates from the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="templates">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="title" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="comment" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="getListsRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests all list names from the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="0" name="listname" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							Return list details for this %list% pattern. Or for all lists if not specified.
					</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="topic" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							Return only lists with this topic.
							Use 'topicsless' to select lists without topic.
					</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!--
				<xsd:element name="subtopic" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Return only lists with this subtopic.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				-->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getListsResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns all list names from the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="listname" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="getListRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests list details from the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="0" name="listname" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							Return list details for this list. Or for all lists if list is not specified.
					</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getListResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns list details from the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="listname" type="sym:MailinglistType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="createListRequest">
		<xsd:annotation>
			<xsd:documentation>
				Creates a new list in the Sympa robot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="listname" type="sym:ListnameType">
					<xsd:annotation>
						<xsd:documentation>The name of the list</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="1" name="subject" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>The subject of the list</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="1" name="template" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>The template to use creating the new list</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>A short description for the list</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element default="" maxOccurs="1" minOccurs="0" name="topic" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>A topic for the list</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="lang" type="sym:IsoLanguageType">
					<xsd:annotation>
						<xsd:documentation>The language of the list</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="createListResponse">
		<xsd:annotation>
			<xsd:documentation>Returns status of list creation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="getSubscribersRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests (all) subscribers of a lists.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="listname" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>List to query</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getSubscribersResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns (all) subscribers and parameters of each subscriber of a lists.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="subscribers" type="sym:SubscriberType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="subscribeSubscribersRequest">
		<xsd:annotation>
			<xsd:documentation>
				Subscribe subscriber(s) to a list. They get notified and need to double-opt-in.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="listname" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>List to subscribe to</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="subscriber">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="email" type="sym:EmailType">
								<xsd:annotation>
									<xsd:documentation>User (= email address) to add</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="gecos" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Short description of the user</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="subscribeSubscribersResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns status of subscription and parameters for each new user (subscriber).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="result">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="subscribed" type="xsd:integer"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="failed" type="xsd:integer"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="subscriber">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="email" type="sym:EmailType"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="addSubscribersRequest">
		<xsd:annotation>
			<xsd:documentation>
				Add subscriber(s) to a list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="listname" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>List to subscribe to</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="subscriber">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="email" type="sym:EmailType">
								<xsd:annotation>
									<xsd:documentation>User (= email address) to add</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="gecos" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Short description of the user</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="quiet" type="xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>
							Silently add users.
							No welcome message is send to new users.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="addSubscribersResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns status of subscription and parameters for each new user (subscriber).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="result">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="subscribed" type="xsd:integer"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="failed" type="xsd:integer"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="subscriber">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="email" type="sym:EmailType"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
 
 

	<xsd:element name="unsubscribeSubscribersRequest">
		<xsd:annotation>
			<xsd:documentation>
				Unsubscriber(s) from list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="listname" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>List to unsubscribe users from</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="subscriber">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="email" type="sym:EmailType">
								<xsd:annotation>
									<xsd:documentation>User (= email address) to unsubscribe</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="unsubscribeSubscribersResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns status of removal for each subscriber.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="result">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="unsubscribed" type="xsd:integer"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="failed" type="xsd:integer"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="subscriber">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="email" type="sym:EmailType"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="delSubscribersRequest">
		<xsd:annotation>
			<xsd:documentation>
				Removes subscriber(s) from list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="listname" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>List to remove users from</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="quiet" type="xsd:boolean">
					<xsd:annotation>
						<xsd:documentation>
							Silently unsubscribe users.
							No good bye message is send to users.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="subscriber">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="email" type="sym:EmailType">
								<xsd:annotation>
									<xsd:documentation>User (= email address) to unsubscribe</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="delSubscribersResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns status of removal for each subscriber.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="result">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="unsubscribed" type="xsd:integer"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="failed" type="xsd:integer"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="subscriber">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="email" type="sym:EmailType"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="getSubscriptionsRequest">
		<xsd:annotation>
			<xsd:documentation>
				Get lists where user is subscribed to or admin.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="email" type="sym:EmailType">
					<xsd:annotation>
						<xsd:documentation>User (= email address) to search</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getSubscriptionsResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns lists where user is subscribed to and status of user in each list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="listname">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="address" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="subject" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="owner" type="xsd:boolean"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="editor" type="xsd:boolean"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="subscribed" type="xsd:boolean"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="subscriber" type="sym:SubscriberType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
 


	<xsd:element name="getAdminsRequest">
		<xsd:annotation>
			<xsd:documentation>
				Requests admins of a list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="listname" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>List to query</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="role" type="sym:ExtendedRoleType">
					<xsd:annotation>
						<xsd:documentation>Admin type</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getAdminsResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns all admins (with specified role) and parameters of each admin of a list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="admin" type="sym:ResponseAdminType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="addAdminsRequest">
		<xsd:annotation>
			<xsd:documentation>
				Add owner(s) to list.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="listname" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>List to add admins to</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="1" name="role" type="sym:RoleType">
					<xsd:annotation>
						<xsd:documentation>Role the new admins should have</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- FISME: besser einfach email? -->
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="admin" type="sym:BaseAdminType">
					<xsd:annotation>
						<xsd:documentation>Admins to add</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="addAdminsResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns status of addition and parameters for each new owner.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="result">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="added" type="xsd:integer"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="failed" type="xsd:integer"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="admin">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="email" type="sym:EmailType"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="admin" type="sym:ResponseAdminType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="delAdminsRequest">
		<xsd:annotation>
			<xsd:documentation>
				Remove owner from list.
				Note: one owner is mandatory
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="listname" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>List to remove owner from</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="1" name="role" type="sym:RoleType">
					<xsd:annotation>
						<xsd:documentation>Role the new admins should have</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="email" type="sym:EmailType">
					<xsd:annotation>
						<xsd:documentation>User (= email address) to delete as owner</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="delAdminsResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns status of removal.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="result">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="deleted" type="xsd:integer"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="failed" type="xsd:integer"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="admin">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="email" type="sym:EmailType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="changeEmailRequest">
		<xsd:annotation>
			<xsd:documentation>
				Change email (= user) in all lists.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="old" type="sym:EmailType">
					<xsd:annotation>
						<xsd:documentation>email to change</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="1" name="new" type="sym:EmailType">
					<xsd:annotation>
						<xsd:documentation>New email address</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="changeEmailResponse">
		<xsd:annotation>
			<xsd:documentation>
				Returns all lists where the email was changed and status of user in each list.
 			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="result">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="closeListRequest">
		<xsd:annotation>
			<xsd:documentation>
				Close (disable) a list. Removing it from configuration, dumping then removing members etc.
				List directory is kept thus list could be restored later.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="listname" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Name of the list to close.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="closeListResponse">
		<xsd:annotation>
			<xsd:documentation>Returns status of list closing.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="deleteListRequest">
		<xsd:annotation>
			<xsd:documentation>
				Delete (Sympa: purge) a list. Completely removing list from disk.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="listname" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Name of the list to delete.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="deleteListResponse">
		<xsd:annotation>
			<xsd:documentation>Returns status of list deleting.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getRobotsRequest">
    <wsdl:part element="sch:getRobotsRequest" name="getRobotsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAdminsResponse">
    <wsdl:part element="sch:getAdminsResponse" name="getAdminsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubscriptionsRequest">
    <wsdl:part element="sch:getSubscriptionsRequest" name="getSubscriptionsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unsubscribeSubscribersResponse">
    <wsdl:part element="sch:unsubscribeSubscribersResponse" name="unsubscribeSubscribersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRobotsResponse">
    <wsdl:part element="sch:getRobotsResponse" name="getRobotsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delSubscribersResponse">
    <wsdl:part element="sch:delSubscribersResponse" name="delSubscribersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part element="sch:getVersionResponse" name="getVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAdminsRequest">
    <wsdl:part element="sch:getAdminsRequest" name="getAdminsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeEmailResponse">
    <wsdl:part element="sch:changeEmailResponse" name="changeEmailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delSubscribersRequest">
    <wsdl:part element="sch:delSubscribersRequest" name="delSubscribersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delAdminsResponse">
    <wsdl:part element="sch:delAdminsResponse" name="delAdminsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListsResponse">
    <wsdl:part element="sch:getListsResponse" name="getListsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAdminsRequest">
    <wsdl:part element="sch:addAdminsRequest" name="addAdminsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createListResponse">
    <wsdl:part element="sch:createListResponse" name="createListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListTemplatesResponse">
    <wsdl:part element="sch:getListTemplatesResponse" name="getListTemplatesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListsRequest">
    <wsdl:part element="sch:getListsRequest" name="getListsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="closeListRequest">
    <wsdl:part element="sch:closeListRequest" name="closeListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unsubscribeSubscribersRequest">
    <wsdl:part element="sch:unsubscribeSubscribersRequest" name="unsubscribeSubscribersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="subscribeSubscribersResponse">
    <wsdl:part element="sch:subscribeSubscribersResponse" name="subscribeSubscribersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="closeListResponse">
    <wsdl:part element="sch:closeListResponse" name="closeListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListRequest">
    <wsdl:part element="sch:getListRequest" name="getListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListRequest">
    <wsdl:part element="sch:deleteListRequest" name="deleteListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListResponse">
    <wsdl:part element="sch:deleteListResponse" name="deleteListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubscribersRequest">
    <wsdl:part element="sch:getSubscribersRequest" name="getSubscribersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubscriptionsResponse">
    <wsdl:part element="sch:getSubscriptionsResponse" name="getSubscriptionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListResponse">
    <wsdl:part element="sch:getListResponse" name="getListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeEmailRequest">
    <wsdl:part element="sch:changeEmailRequest" name="changeEmailRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createListRequest">
    <wsdl:part element="sch:createListRequest" name="createListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="subscribeSubscribersRequest">
    <wsdl:part element="sch:subscribeSubscribersRequest" name="subscribeSubscribersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAdminsResponse">
    <wsdl:part element="sch:addAdminsResponse" name="addAdminsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionRequest">
    <wsdl:part element="sch:getVersionRequest" name="getVersionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSubscribersResponse">
    <wsdl:part element="sch:addSubscribersResponse" name="addSubscribersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListTemplatesRequest">
    <wsdl:part element="sch:getListTemplatesRequest" name="getListTemplatesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSubscribersRequest">
    <wsdl:part element="sch:addSubscribersRequest" name="addSubscribersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubscribersResponse">
    <wsdl:part element="sch:getSubscribersResponse" name="getSubscribersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delAdminsRequest">
    <wsdl:part element="sch:delAdminsRequest" name="delAdminsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Sympa">
    <wsdl:operation name="getRobots">
      <wsdl:input message="tns:getRobotsRequest" name="getRobotsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getRobotsResponse" name="getRobotsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdmins">
      <wsdl:input message="tns:getAdminsRequest" name="getAdminsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAdminsResponse" name="getAdminsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubscriptions">
      <wsdl:input message="tns:getSubscriptionsRequest" name="getSubscriptionsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSubscriptionsResponse" name="getSubscriptionsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unsubscribeSubscribers">
      <wsdl:input message="tns:unsubscribeSubscribersRequest" name="unsubscribeSubscribersRequest">
    </wsdl:input>
      <wsdl:output message="tns:unsubscribeSubscribersResponse" name="unsubscribeSubscribersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delSubscribers">
      <wsdl:input message="tns:delSubscribersRequest" name="delSubscribersRequest">
    </wsdl:input>
      <wsdl:output message="tns:delSubscribersResponse" name="delSubscribersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersionRequest" name="getVersionRequest">
    </wsdl:input>
      <wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeEmail">
      <wsdl:input message="tns:changeEmailRequest" name="changeEmailRequest">
    </wsdl:input>
      <wsdl:output message="tns:changeEmailResponse" name="changeEmailResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delAdmins">
      <wsdl:input message="tns:delAdminsRequest" name="delAdminsRequest">
    </wsdl:input>
      <wsdl:output message="tns:delAdminsResponse" name="delAdminsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLists">
      <wsdl:input message="tns:getListsRequest" name="getListsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getListsResponse" name="getListsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAdmins">
      <wsdl:input message="tns:addAdminsRequest" name="addAdminsRequest">
    </wsdl:input>
      <wsdl:output message="tns:addAdminsResponse" name="addAdminsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createList">
      <wsdl:input message="tns:createListRequest" name="createListRequest">
    </wsdl:input>
      <wsdl:output message="tns:createListResponse" name="createListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListTemplates">
      <wsdl:input message="tns:getListTemplatesRequest" name="getListTemplatesRequest">
    </wsdl:input>
      <wsdl:output message="tns:getListTemplatesResponse" name="getListTemplatesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeList">
      <wsdl:input message="tns:closeListRequest" name="closeListRequest">
    </wsdl:input>
      <wsdl:output message="tns:closeListResponse" name="closeListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subscribeSubscribers">
      <wsdl:input message="tns:subscribeSubscribersRequest" name="subscribeSubscribersRequest">
    </wsdl:input>
      <wsdl:output message="tns:subscribeSubscribersResponse" name="subscribeSubscribersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getList">
      <wsdl:input message="tns:getListRequest" name="getListRequest">
    </wsdl:input>
      <wsdl:output message="tns:getListResponse" name="getListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteList">
      <wsdl:input message="tns:deleteListRequest" name="deleteListRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteListResponse" name="deleteListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubscribers">
      <wsdl:input message="tns:getSubscribersRequest" name="getSubscribersRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSubscribersResponse" name="getSubscribersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSubscribers">
      <wsdl:input message="tns:addSubscribersRequest" name="addSubscribersRequest">
    </wsdl:input>
      <wsdl:output message="tns:addSubscribersResponse" name="addSubscribersResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SympaSoap11" type="tns:Sympa">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getRobots">
      <soap:operation soapAction=""/>
      <wsdl:input name="getRobotsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRobotsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdmins">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAdminsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAdminsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubscriptions">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSubscriptionsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSubscriptionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unsubscribeSubscribers">
      <soap:operation soapAction=""/>
      <wsdl:input name="unsubscribeSubscribersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="unsubscribeSubscribersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delSubscribers">
      <soap:operation soapAction=""/>
      <wsdl:input name="delSubscribersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="delSubscribersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction=""/>
      <wsdl:input name="getVersionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeEmail">
      <soap:operation soapAction=""/>
      <wsdl:input name="changeEmailRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="changeEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delAdmins">
      <soap:operation soapAction=""/>
      <wsdl:input name="delAdminsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="delAdminsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLists">
      <soap:operation soapAction=""/>
      <wsdl:input name="getListsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAdmins">
      <soap:operation soapAction=""/>
      <wsdl:input name="addAdminsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addAdminsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createList">
      <soap:operation soapAction=""/>
      <wsdl:input name="createListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListTemplates">
      <soap:operation soapAction=""/>
      <wsdl:input name="getListTemplatesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListTemplatesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeList">
      <soap:operation soapAction=""/>
      <wsdl:input name="closeListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="closeListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subscribeSubscribers">
      <soap:operation soapAction=""/>
      <wsdl:input name="subscribeSubscribersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="subscribeSubscribersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getList">
      <soap:operation soapAction=""/>
      <wsdl:input name="getListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteList">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubscribers">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSubscribersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSubscribersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSubscribers">
      <soap:operation soapAction=""/>
      <wsdl:input name="addSubscribersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addSubscribersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SympaService">
    <wsdl:port binding="tns:SympaSoap11" name="SympaSoap11">
      <soap:address location="/sympasoap11/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>